apiVersion: v1
kind: ConfigMap
metadata:
  name: ledgerflux-config
  namespace: ledgerflux
data:
  # NATS JetStream configuration
  NATS_URLS: "nats://nats:4222"
  JS_STREAM_NAME: "market_ticks"
  JS_SUBJECT_PREFIX: "market.ticks"
  JS_RETENTION_MINUTES: "30"
  
  # Gateway configuration
  WS_MAX_MSGS_PER_SEC: "100"
  WS_BURST: "200"
  BACKFILL_MAX_MINUTES: "60"
  
  # Snapshotter configuration
  SNAPSHOT_PERIOD_MS: "60000"
  PG_HOST: "postgres"
  PG_PORT: "5432"
  PG_USER: "postgres"
  PG_DATABASE: "ledgerflux"
  
  # Ingester configuration
  RESYNC_MAX_QUEUE_MS: "2000"
  GAP_THRESHOLD: "500"
  
  # Logging
  LOG_LEVEL: "INFO"

---
apiVersion: v1
kind: Secret
metadata:
  name: ledgerflux-postgres
  namespace: ledgerflux
type: Opaque
data:
  PG_PASSWORD: cG9zdGdyZXM=
